## Rename to .env.dev
##

# # WEB
DJANGO_SECRET_KEY = "too-many-secrets"
DJANGO_DEBUG = True
DJANGO_ALLOWED_HOSTS = "localhost"
# # DB
POSTGRES_HOST_AUTH_METHOD = 'trust'
DATABASE_URL = 'postgres://postgres@db/postgres'
